.btn {
  appearance: none;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  outline: none;
  box-shadow: 0 0 0 1px transparent;
  min-width: 3rem;
  color: currentColor;
  text-align: center;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

.btn:hover {
  background-color: var(--primary-color-main);
  color: white;
  border-color: transparent;
}

.btn:focus {
  box-shadow: 0 0 5px 2px var(--primary-color-dark);
}
.btn:disabled {
  box-shadow: 0 0 5px 2px var(--primary-color-dark);
}

.btn:active {
  box-shadow: 0 0 5px 2px var(--primary-color-dark);
}

/* button variant Style section */
.contained {
  background-color: var(--primary-color-light);
}

.outline {
  color: var(--primary-color-dark);
  border-color: var(--primary-color-light);
}

.text {
  color: var(--primary-color-light);
  background: transparent;
}

/* Color Variant styles section */

.secondary {
  --primary-color-light: var(--secondary-color-light);
  --primary-color-main: var(--secondary-color-main);
  --primary-color-dark: var(--secondary-color-dark);
}

.error {
  --primary-color-light: var(--danger-color-light);
  --primary-color-main: var(--danger-color-main);
  --primary-color-dark: var(--danger-color-dark);
}

.warning {
  --primary-color-light: var(--warning-color-light);
  --primary-color-main: var(--warning-color-main);
  --primary-color-dark: var(--warning-color-dark);
}

.success {
  --primary-color-light: var(--success-color-light);
  --primary-color-main: var(--success-color-main);
  --primary-color-dark: var(--success-color-dark);
}

/* Button size style section */
.small {
  padding: 0.25rem 0.75rem;
}

.medium {
  padding: 0.5rem 1.5rem;
}

.medium {
  padding: 1rem 3rem;
}

.fluid {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
}

/* Button border radius styles section */

.none {
  border-radius: 0;
}

.rounded {
  border-radius: 100rem;
}

.full {
  border-radius: 50%;
}

/* Icon section style  */

.btn svg {
  max-width: 20px;
}

.icon {
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.185);
}

.leftMargin {
  margin-left: 0.5rem;
}
.rightMargin {
  margin-right: 0.5rem;
}
