.heading {
  font-weight: 700;
  text-transform: uppercase;
  background: rgb(255, 189, 177);
  background: linear-gradient(
    90deg,
    var(--secondary-color-main) 10%,
    var(--secondary-color-light) 50%,
    var(--secondary-color-main) 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0.115rem 0.25rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-weight: bold;
}
