.main {
  color: var(--text-color-main);
}

.dark {
  color: var(--text-color);
}

.light {
  color: var(--text-color-light);
}

.success {
  color: var(--success-color-light);
}

.danger {
  color: var(--danger-color-light);
}

.warning {
  color: var(--warning-color-light);
}

/* Size Varaint Styles Sections */
.xs {
  font-size: 0.75rem;
  font-weight: 300;
}
.sm {
  font-size: 1rem;
  font-weight: 300;
}
.md {
  font-size: 1.5rem;
  font-weight: 500;
}

.lg {
  font-size: 2.5rem;
  font-weight: 700;
}

.xl {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
}
