.container {
  display: grid;
  grid-template-areas:
    "info nav area category social"
    "copyRight copyRight copyRight copyRight copyRight";
  grid-template-columns: 2fr repeat(4, 1fr);
  gap: 2rem;
  padding: 3rem 10vw;
  font-size: 0.9rem;
  line-height: 1.9;
  text-align: start;
  padding-bottom: 0;
}
.paragraph {
  font-size: 0.8rem;
  color: var(--text-color-light);
}

.nav {
  text-align: start;
}

.info {
  grid-area: info;
}

.copyRight {
  grid-area: copyRight;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}
